@import 'mixins/transition';

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  color: #1B1B26;
  @include transition(0.5s);
}

h1, h2, h3, p {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  content: inherit;
}

a:link, a:visited, a:hover  {
  color: #0A81B1;
  background-color: transparent;
  text-decoration: none;
}

#canvas {
  position: fixed;
  z-index: 8;
}

#fps-meter-container {
  position: fixed;
  z-index: 9;
  bottom: 55px;
  left: 0px;
  height: auto;
  width: auto;
}

.default-bg {
  background-color: #0A81B1;
}

.level-one {
  background-color: #51c5f5;
}

.level-two {
  background-color: #3ebff4;
}

.level-three {
  background-color: #2bb9f3;
}

.level-four {
  background-color: #18b3f2;
}

.level-five {
  background-color: #0daae9;
}

.level-six {
  background-color: #0c9cd6;
}

.level-seven {
  background-color: #0b8fc4;
}

.level-eight {
  background-color: #0A81B1;
}

.level-nine {
  background-color: #08668c;
}

.level-ten {
  background-color: #064b67;
}
