@import 'mixins/transition';

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  color: #1B1B26;
  @include transition(0.5s);
}

#canvas {
  position: fixed;
  z-index: 8;
}

#fps-meter-container {
  position: fixed;
  z-index: 9;
  bottom: 55px;
  left: 0px;
  height: auto;
  width: auto;
}

.default-bg {
  background-color: #0A81B1;
}

.level-one {
  background-color: #51c5f5;
}

.level-two {
  background-color: #3ebff4;
}

.level-three {
  background-color: #2bb9f3;
}

.level-four {
  background-color: #18b3f2;
}

.level-five {
  background-color: #0daae9;
}

.leve-six {
  background-color: #0c9cd6;
}

.level-seven {
  background-color: #0b8fc4;
}

.level-eight {
  background-color: #0A81B1;
}
