@import 'mixins/transition';

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  // background: #e2e2e2, #fff);
  @include transition(0.2s);
}

#canvas {
  position: fixed;
  z-index: 8;
}

#fps-meter-container {
  position: fixed;
  z-index: 9;
  bottom: 55px;
  left: 0px;
  height: auto;
  width: auto;
}

.level-one {
  background: #fff;
}

.level-two {
  background: #008a00;
}

.level-three {
  background: #0000eb;
}

.level-four {
  background: #800080;
}

.level-five {
  background: #ff0000;
}

.leve-six {
  background: #ffa500;
}

.level-seven {
  background: #ffa500;
}

.level-eight {
  background: #000;
}
